.template-blogpage {
    margin-right: 20%;
}
.header-img {
    margin-left: 40%;
    display: flex;
    justify-content: center;
}
.title {
    margin-left: 35%;
    display: flex;
    justify-content: center;
    font-family: Georgia, serif;
}
.twitter-tweet{
    margin-left: 40%;
}
p {
    margin-left: 30%;
}
.copyright {
    margin-left: 25%;
    display: flex;
    justify-content: center;
}
.richtext-image {
    margin-left: 25%;
    width:80%;
    height:60%;
    display: flex;
    justify-content: center;

}